.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Homepage textarea */
.postContent {}

#homePagepost {
  background-color: aliceblue;
  padding: 3;
  margin: 2;
  margin-left: 3;
  border: solid 1.5em rgba(#000, .03);
  box-shadow: 2px 2px 5px rgba(#000, .2),
    2px 2px 17px rgba(#000, .35),
    2px 2px 25px rgba(#000, .5);
}